:root {
    --primary-color: #D07A8B;
    /* Couleur principale pour les boutons et accents */
    --secondary-color: #9D5B6A;
    /* Couleur secondaire pour les titres et accents */
    --background-color: #F7F1F1;
    /* Couleur de fond principale */
    --text-color: #333;
    /* Couleur du texte principal */
    --footer-background-color: #D07A8B;
    /* Couleur de fond du footer */
    --white-color: #FFFFFF;
    /* Blanc pur */
    --font-family: 'Arial', sans-serif;
    /* Police de caractères générale */
    --font-size-large: 3rem;
    /* Taille de police pour les titres principaux */
    --font-size-medium: 2.5rem;
    /* Taille de police pour les sous-titres */
    --font-size-small: 1rem;
    /* Taille de police pour le texte normal */
    --border-radius: 10px;
    /* Rayon des bordures pour donner un effet doux */
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Ombre des éléments */
    --transition-speed: 0.3s;
    /* Durée des transitions */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Section Hero */
.hero {
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: visible;
}


.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 20px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* Mise en valeur du mot LOVE */
.highlight-love {
    color: #D07A8B; 
    font-size: 4rem;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .btn {
    padding: 15px 25px;
    background-color: #D07A8B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #9D5B6A;
}

/* Animation du mot "LOVE" */
@keyframes highlight {
    0% { color: #D07A8B; }
    50% { color: #FFB6C1; }
    100% { color: #D07A8B; }
}

.highlight-love {
    animation: highlight 2s infinite;
}

section h2 {
    font-size: var(--font-size-medium);
    color: var(--primary-color);
    margin-bottom: 30px;
    text-align: center;
}

footer {
    background-color: #D07A8B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

